# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=vizo-image-gen.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=vizo-image-gen
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=vizo-image-gen.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Google Cloud (for Secret Manager)
GOOGLE_CLOUD_PROJECT=vizo-image-gen

# Zendesk
NEXT_PUBLIC_ZENDESK_URL=
